
/* 
(˶˃ ᵕ ˂˶) .ᐟ.ᐟ 
hey! 
welcome to my style file,
i hope you enjoy looking at my work
and code. */

/* ====== SETTINGS */
:root {
    --c1:#fff;
    --c2:#a0a0a0;
    --c3:#555555;
    --c4:#000;
}

/* ====== CLEAR */
* {
    margin: 0;
    padding: auto;
    max-width: 100%;
    box-sizing: border-box;
}

/* ====== ELEMENTS */
html {
    color: var(--c2);
    filter: blur(0.45px);
    background: url("/content/backgrounds/bg.gif");
    font: 0.9rem "serif";
    image-rendering: pixelated;
    text-rendering: geometricPrecision;
    cursor: url("https://cur.cursors-4u.net/others/oth-6/oth589.cur"), progress !important;
}
body {
    line-height: 1.5;
    letter-spacing: 2px;
    text-shadow: 0 0 5px;
    max-width: 1000px;
    margin: auto;
    animation: shadow 0.09s infinite;
    padding: 1rem;
}
header, nav, main, aside, footer, section {
    padding: 0.6rem;
}
img {
    filter: grayscale(100%) contrast(1.8);
}
ul, ol, dl {
    list-style-type: circle;
}
strong {
    color: var(--c3);
}
small {
    color: var(--c3);
}
hr {
    border: none;
    border-bottom: 1px solid;
    margin: 0.7rem 0;
}
a {
    color: var(--c1);
    text-underline-offset: 2px;
}

/* ====== CLASSES */
.full {
    height: 100dvh;
}
.wrap {
    display: flex;
    padding-left: 0;
    gap: 1rem;
    list-style: none;
}
.return {
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 150px;
    filter: brightness(70%);
    rotate: 180deg;
    margin: 1rem;
}
.invert {
    filter: invert(100%);
}

/* ====== PAGES */
#index {
    & body {
        max-width: 500px;
        text-align: center;
    }
}
#about {
    & body {
        max-width: 700px;
        align-content: center;
        justify-content: center;
    }
}
#diary {
    & body {
        text-align: right;
    }
    & [id] {
	    display: none;
    }
    & [id]:target {
        display:block;
    }
}
#gallery {
    & section {
        flex-basis: 200px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
#works {
    & body {
        text-align: right;
    }
    & [id] {
	    display: none;
    }
    & [id]:target {
        display:block;
    }
}
#collection {
    & body {
        text-align: center;
    }
}
#map {
    background: var(--c1);
    & ul {
        list-style: none;
        padding-left: 0;
    }
    & a {
        text-decoration: none;
    }
}
#not_found {
    background: var(--c4);
    & body {
        text-align: center;
        justify-content: center;
        align-content: center;
    }
    & a {
        text-decoration: none;
    }
}

/* ====== ANIMATIONS */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes flicker {
/* code from: https://codepen.io/cvan/pen/Zarmry */
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.90626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.83891;
    }
    30% {
    opacity: 0.65583;
    }
    35% {
    opacity: 0.67807;
    }
    40% {
    opacity: 0.26559;
    }
    45% {
    opacity: 0.84693;
    }
    50% {
    opacity: 0.96019;
    }
    55% {
    opacity: 0.08594;
    }
    60% {
    opacity: 0.20313;
    }
    65% {
    opacity: 0.71988;
    }
    70% {
    opacity: 0.53455;
    }
    75% {
    opacity: 0.37288;
    }
    80% {
    opacity: 0.71428;
    }
    85% {
    opacity: 0.70419;
    }
    90% {
    opacity: 0.7003;
    }
    95% {
    opacity: 0.36108;
    }
    100% {
    opacity: 0.24387;
    }
}
@keyframes shadow {
/* code from: https://codepen.io/cvan/pen/Zarmry */
    0% {
    text-shadow: 0.4389924193300864px 0 1px var(--c2), -0.4389924193300864px 0 1px var(--c1); 0 0 3px;
    }
    5% {
    text-shadow: 2.7928974010788217px 0 1px var(--c2), -2.7928974010788217px 0 1px var(--c4); 0 0 3px;
    }
    10% {
    text-shadow: 0.02956275843481219px 0 1px var(--c2), -0.02956275843481219px 0 1px var(--c4); 0 0 3px;
    }
    15% {
    text-shadow: 0.40218538552878136px 0 1px var(--c2), -0.40218538552878136px 0 1px var(--c4); 0 0 3px;
    }
    20% {
    text-shadow: 3.4794037899852017px 0 1px var(--c2), -3.4794037899852017px 0 1px var(--c4); 0 0 3px;
    }
    25% {
    text-shadow: 1.6125630401149584px 0 1px var(--c2), -1.6125630401149584px 0 1px var(--c4); 0 0 3px;
    }
    30% {
    text-shadow: 0.7015590085143956px 0 1px var(--c2), -0.7015590085143956px 0 1px var(--c4); 0 0 3px;
    }
    35% {
    text-shadow: 3.896914047650351px 0 1px var(--c2), -3.896914047650351px 0 1px var(--c4); 0 0 3px;
    }
    40% {
    text-shadow: 3.870905614848819px 0 1px var(--c2), -3.870905614848819px 0 1px var(--c4); 0 0 3px;
    }
    45% {
    text-shadow: 2.231056963361899px 0 1px var(--c2), -2.231056963361899px 0 1px var(--c4); 0 0 3px;
    }
    50% {
    text-shadow: 0.08084290417898504px 0 1px var(--c2), -0.08084290417898504px 0 1px var(--c4); 0 0 3px;
    }
    55% {
    text-shadow: 2.3758461067427543px 0 1px var(--c2), -2.3758461067427543px 0 1px var(--c4); 0 0 3px;
    }
    60% {
    text-shadow: 2.202193051050636px 0 1px var(--c2), -2.202193051050636px 0 1px var(--c4); 0 0 3px;
    }
    65% {
    text-shadow: 2.8638780614874975px 0 1px var(--c2), -2.8638780614874975px 0 1px var(--c4); 0 0 3px;
    }
    70% {
    text-shadow: 0.48874025155497314px 0 1px var(--c2), -0.48874025155497314px 0 1px var(--c4); 0 0 3px;
    }
    75% {
    text-shadow: 1.8948491305757957px 0 1px var(--c2), -1.8948491305757957px 0 1px var(--c4); 0 0 3px;
    }
    80% {
    text-shadow: 0.0833037308038857px 0 1px var(--c2), -0.0833037308038857px 0 1px var(--c4); 0 0 3px;
    }
    85% {
    text-shadow: 0.09769827255241735px 0 1px var(--c2), -0.09769827255241735px 0 1px var(--c4); 0 0 3px;
    }
    90% {
    text-shadow: 3.443339761481782px 0 1px var(--c2), -3.443339761481782px 0 1px var(--c4); 0 0 3px;
    }
    95% {
    text-shadow: 2.1841838852799786px 0 1px var(--c2), -2.1841838852799786px 0 1px var(--c4); 0 0 3px;
    }
    100% {
    text-shadow: 2.6208764473832513px 0 1px var(--c2), -2.6208764473832513px 0 1px var(--c4); 0 0 3px;
    }
}
@keyframes flip {
    to {
        rotate: 0deg;
        filter: brightness(30%);
    }
}

/* ====== WEBKITS */
::-webkit-scrollbar {
    width: 0.1rem;
}
::-webkit-scrollbar-track {
    background: var(--c4);
}
::-webkit-scrollbar-thumb {
    background: var(--c1);
}
::selection {
    color: var(--c4);
    background: var(--c2);
}
::-moz-selection {
    color: var(--c4);
    background: var(--c2);
}

/* ====== ADJUSTMENTS */
body::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
    animation: shadow 0.15s infinite;
}
body::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}
.return:hover {
    animation: flip 0.8s forwards;
    animation-fill-mode: forwards;
}
#i a img:hover {
    animation: shake 0.6s infinite;
}





















































