/*
_________ __          .__                .__                   __   
 /   _____//  |_ ___.__.|  |   ____   _____|  |__   ____   _____/  |_ 
 \_____  \\   __<   |  ||  | _/ __ \ /  ___/  |  \_/ __ \_/ __ \   __\
 /        \|  |  \___  ||  |_\  ___/ \___ \|   Y  \  ___/\  ___/|  |  
/_______  /|__|  / ____||____/\___  >____  >___|  /\___  >\___  >__|  
        \/       \/               \/     \/     \/     \/     \/      
*/

/* ====== CLEAR */
* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
}

/* ====== ROOT */
:root {
    --fg: #f1f1d5;
    --bg: #000;
    --green: #fff;
    --yellow: #fff;
    --orange: #fff;
    /* -------------- */
    --line:normal;
    --space:normal;
    --gaps:0.2rem;
    --size:clamp(1rem, 1vw, 1vw);
    /* -------------- */
    --body:'body';
}

/* ====== ELEMENTS */
@font-face {
    font-family: 'body';
    src: url("/theme/Nouveau_IBM.ttf");
}

/* ====== ELEMENTS */
html {
    color: var(--fg);
    background: var(--bg);
    font: var(--size) var(--body);
}
body {
    line-height: var(--line);
    letter-spacing: var(--space);
}

/* ====== PAGES */
.full {
    height: 100dvh;
}

/* ====== PAGES */
#index {
    & .cont {
        align-content: center;
        text-align: center;
    }
}
